body{
  background-color: #C8B6A6;
}
h1{
  color: #8D7B68;
  font-size: 25px;
}
p{
  font-size: 10pt;
  color: #A4907C;
}
form{
  background-color: #8D7B68;
  color: #F1DEC9;
  border-radius: 25px;
  text-align: center;
}
input[type="email"] {
  background-color: #f2e9df;
  border-radius: 25px;
  text-align: center;
  border-style: hidden;
}
input[type="text"] {
  background-color: #f2e9df;
  border-radius: 25px;
  text-align: center;
  border-style: hidden;
}
input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f2e9df;
  border-radius: 25px;
  border-style: hidden;
  color: #8D7B68;
}