/* mobile-first responsive webb design*/
body{
  background-color: #C8B6A6;
}
h1{
  color: #8D7B68;
  font-size: 25px;
  font-family: monospace;
}
p{
  font-size: 10pt;
  color: #A4907C;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
form{
  background-color: #8D7B68;
  color: #F1DEC9;
  border-radius: 25px;
  font-family: monospace;
  display: block;
  padding-left: 200px;
  padding-left: 200px;
}

input[type="email"] {
  background-color: #f2e9df;
  border-radius: 25px;
  text-align: center;
  border-style: hidden;
  display: block;
  width: 90%;
  font-size: 20px;
}
input[type="text"] {
  background-color: #f2e9df;
  border-radius: 25px;
  text-align: center;
  border-style: hidden;
  display: block;
  width: 90%;
  font-size: 20px;
}
input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #83a3b2;
  border-radius: 25px;
  border-style: hidden;
  color: #5C4033;
  font-family: monospace;
  display: block;
  width: 90%;
  font-size: 20px;
}

/* Two Media Queries*/
/*ipad*/
@media (min-width: 768px){
  h1{
    font-size: 50px;
    text-align: center;
  }
  p{
    font-size: 20px;
    text-align: center;
  }
  form{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 8em;
    padding-top: 30px;
    font-size: 20px;
  }
  input[type="text"] {
    font-size: 20px;
    width: 20em;
  }
  input[type="email"] {
    font-size: 20px;
    width: 20em;
  }
  input[type="submit"] {
    font-size: 20px;
    width: 20em;
  }
}

/*Laptop*/
@media (min-width: 992px){
  h1{
    font-size: 60px;
    text-align: center;
  }
  p{
    font-size: 20px;
    text-align: center;
  }
  form{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 10em;
    padding-top: 50px;
    font-size: 20px;
  }
  input[type="text"] {
    font-size: 20px;
    width: 20em;
  }
  input[type="email"] {
    font-size: 20px;
    width: 20em;
  }
  input[type="submit"] {
    font-size: 20px;
    width: 20em;
  }
}